<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Name</key>
    <string>Capture screenshot in OBS</string>
    <key>Script</key>
    <string>Action.sh</string>
    <key>Icon</key>
    <string>Icon.png</string>
    <key>Title</key>
    <string>Capture screenshot in OBS</string>
    <key>Results</key>
    <string>None|Window|Briefly|Variable|Clipboard</string>
    <key>Timeout</key>
    <integer>120</integer>
    <key>Author</key>
    <string>Ben Vanderberg</string>
    <key>Help</key>
    <string>This action uses obs-cmd CLI to capture screenshot in OBS</string>
    <key>Parameters</key>
    <array>
      <dict>
        <key>Label</key>
        <string>Source</string>
        <key>Type</key>
        <string>TokenString</string>
        <key>Default</key>
        <string>Scene1</string>
      </dict>
      <dict>
        <key>Label</key>
        <string>Format</string>
        <key>Type</key>
        <string>PopupMenu</string>
        <key>Menu</key>
        <string>jpg|png</string>
        <key>Default</key>
        <string>png</string>
      </dict>
      <dict>
        <key>Label</key>
        <string>OutputPath</string>
        <key>Type</key>
        <string>TokenString</string>
      </dict>
      <dict>
        <key>Label</key>
        <string>Width</string>
        <key>Type</key>
        <string>TokenString</string>
      </dict>
      <dict>
        <key>Label</key>
        <string>Height</string>
        <key>Type</key>
        <string>TokenString</string>
      </dict>
      
    </array>
  </dict>
</plist>